.ContributionCalendar-day[data-level='1'] {
	fill: #631c03!important;
}
.ContributionCalendar-day[data-level='2'] {
	fill: #bd561d!important;
}
.ContributionCalendar-day[data-level='3'] {
	fill: #fa7a18!important;
}
.ContributionCalendar-day[data-level='4'] {
	fill: #fddf68!important;
}


/* .ContributionCalendar-day[data-level='1'] {
	fill: #59C7C8!important;
}
.ContributionCalendar-day[data-level='2'] {
	fill: #02B0B1!important;
}
.ContributionCalendar-day[data-level='3'] {
	fill: #028E8F!important;
}
.ContributionCalendar-day[data-level='4'] {
	fill: #017374!important;
} */