.ContributionCalendar-day[data-level='1'] {
	fill: #631c03!important;
}
.ContributionCalendar-day[data-level='2'] {
	fill: #bd561d!important;
}
.ContributionCalendar-day[data-level='3'] {
	fill: #fa7a18!important;
}
.ContributionCalendar-day[data-level='4'] {
	fill: #fddf68!important;
}
