@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular.eot');
    src: local('Graphik Regular'), local('Graphik-Regular'),
        url('Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}